@*

*@
@{
    ViewData["Title"] = "Expenses";
}

@model List<Expense>;

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                <tr>
                    <td>@expense.Id.ToString()</td>
                    <td>@expense.Value.ToString("C")</td>
                    <td>@expense.Description</td>
                    <td>
                        <a asp-action="AddEditExpense" asp-route-id="@expense.Id">Edit</a>
                        <a asp-action="DeleteExpense" asp-route-id="@expense.Id">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-end"><strong>Total: @ViewBag.TotalExpenses.ToString("C")</strong></td>
            </tr>
        </tbody>
    </table>
</div>